<!DOCTYPE html>
<head>
  <link rel="stylesheet" href="/styles/style.css">
  <title>UnWomen</title>
</head>
<h1>UnWoman 1</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla nihil accusantium sunt architecto similique asperiores iure excepturi nostrum repudiandae expedita. Quasi qui perspiciatis quidem doloribus. Doloremque voluptatem delectus nobis ad.</p>
<form method="POST" action="/create-user">
  <input type="text" name="name" placeholder="Your name">
  <button>Let's go</button>
</form>

<a href="https://api.whatsapp.com/send?text=Look%20this%20quiz!%20http://localhost:3000/" id="whatsapp-share-btn" rel="nofollow" target="_blank"><img class="whatsapp-icon align-self-center" src="https://image.flaticon.com/icons/svg/2111/2111728.svg" alt="whatsapp icon"> Invite a friend via WhatsApp</a>


  
