
<header class="container d-flex flex-column">
  <div class="intro">
    <h2>Let's work together to change the future!</h2>
    <p>Gender Equality means equal rights and freedom for equal opportunities, participation, recognition and appreciation in all areas.<br><br> Think of this quiz as a game to test and improve your awareness on the subject.</p>   
  </div>


  <form class="home-form" method="POST" action="/create-user">
    <small>What's your name?</small>
    <input required type="text" name="name" placeholder="e.g. Aline Muller">
    <button class="btn red">Start quiz&nbsp;<i class="fa fa-arrow-right"></i></button>
    <a class="btn whatsapp-btn" href="https://api.whatsapp.com/send?text=Look%20this%20quiz!%20https://worldequalizer.herokuapp.com/" target="_blank">Share via Whatsapp&nbsp;<i class="fa fa-whatsapp"></i></a>  
  </form>

</header>