<head>
  <link rel="stylesheet" href="/styles/style.css">
  <title>UnWomen</title>
</head>

<h1>Blog list</h1>

{{#each blogs}}

<article>
<h1>{{title}}</h1>
<p>Category: {{category}}</p>

<div class="video">{{{video}}}</div>

</article>
{{/each}}
