<head>
  <link rel="stylesheet" href="/styles/style.css">
  <title>Equalizer</title>
</head>


<nav class="navbar navbar-light navbar-expand-md" style="color: rgb(227,15,129);background-color: #f9dff3;">
    <div class="container-fluid"><a class="navbar-brand" href="/">UnWomen - Blog</a></div>
</nav>


{{#each blogs}}

<article class="blog-title">
<h1 class="text-center ;
  font-family: PlayfairDisplay;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: center;
  color: #51427d;">{{title}}</h1>
<p><strong>Category:</strong> {{category}}</p>

  <div class="video">{{{video}}}</div>

</article>
{{/each}}