<!DOCTYPE html>

<head>
  <style>
    @import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
  </style>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>Equalizer</title>
  <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/fonts/font-awesome.min.css">
  <link rel="stylesheet" href="/assets/css/Highlight-Clean.css">
  <link rel="stylesheet" href="/assets/css/styles.css">
  <link rel="shortcut icon" href="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e4/Paris_RER_E_icon.svg/512px-Paris_RER_E_icon.svg.png">
</head>

<body>
  <nav>
    <div class="container-fluid"><a class="navbar-brand" href="/">Equalizer</a></div>
  </nav>


  {{#each blogs}}

  <article class="blog-title">
    <h1 class="text-center" style="
  font-family: PlayfairDisplay;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: center;
  color: #51427d;">{{title}}</h1>
    <p><strong>Category:</strong> {{category}}</p>

    <div class="video">{{{video}}}</div>

  </article>
  {{/each}}
</body>