{{#each blogs}}
 <article class="blog-body">
   <h1>{{title}}</h1>
   <p class="CategoryBlog"><strong>Category:</strong> {{category}}</p>
   <div class="video">{{{video}}}</div>
 </article>
 {{/each}}
