<head>
  <link rel="stylesheet" href="/styles/style.css">
  <title>UnWomen</title>
</head>

<h1>Answer</h1>

{{#if isAnswerRight}}
Winner
{{else}}
Lost
{{/if}}
{{user.name}}

<a href="/quiz/question2/{{user._id}}">next</a>

  