<head>
  <link rel="stylesheet" href="/styles/style.css">
  <title>UnWomen</title>
</head>


<h1>{{question.question}}</h1>
<form method="POST" action="/quiz/question1/{{user._id}}">
<label>{{quiz.question}}usantium sunt architecto similique asperiores iure excepturi nostrum repudiandae expedita. </label>
  <input type="radio" name="question1" id="1" value="{quiz.answer1[1]">{quiz.answer1[0]}
  <input type="radio" name="question1" id="2" value="2">
  <input type="radio" name="question1" id="3" value="3">
  <button>Let's go</button>
</form>

 quiz = { 
    question: "string",
    answer1: ["string", 0],
    answer2: ["string", 20]
 }